.profileContent {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
}

.profileContentImage {
  width: 50%;
  height: 50%;
}

.userProfileDetails {
  width: 25rem !important;
  font-size: 1rem;
}

.edit-profile-input {
  display: inline;
}
.edit-btn {
  float: right;
  padding-top: 0;
  padding-bottom: 0;
}
