.addUserDetails {
  padding: 10px;
}
.addUserDetailsError {
  color: red;
}

.addUserImage {
  width: 50%;
}

.addUserContent {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 4px;
}
